.item{
min-height: 40%;
min-width: 40%;
padding: 40px;
}

.item img{
height: 80%;
width: 80%;
border-radius: 2% ;
}
.innerCarousel{
display: flex;
height: 40%;
}

.carousel{
cursor: grab;
overflow: hidden;
}